<div id="create-new-album-form" class="create-new-element">
    <form class="create-new-album-form" enctype="application/x-www-form-urlencoded" method="post"
          action="{{ url_for("_photogallery_api_create_new_album", true) }}">

        <div id="info-album" class="form-info">{{ "New album requires title or description. Adding at least one photo is recommended." | trans() }}</div>

        <div>
            <label for="title-album">{{ "title" | trans() }}</label>
            <input type="text" name="title" id="title-album"/>
        </div>
        <div>
            <label for="description-album">{{ "description" | trans() }}</label>
            <textarea name="description" id="description-album"/></textarea>
        </div>

        <div>
            <span id="label-photos-album" onclick="showFileDialog(this)" style="cursor:default;font-weight:bold;display:inline-block;margin-right:3px;">{{ "add photos" | trans() }}:</span>
            <label class="cabinet">
                <input size="1" multiple="multiple" type="file" name="photos[]" id="photos-album"/>
            </label>
            <span style="display:inline-block;width:8px;"></span>
            <label style="display:inline-block;left-margin:24px" for="hidden-album">{{ "do not publish" | trans() }}</label>
            <input type="checkbox" name="hidden" id="hidden-album"/>
        </div>

    </form>
</div>

<div id="add-photos-form" class="create-new-element">
    <form class="add-photos-form" enctype="application/x-www-form-urlencoded" method="post"
          action="{{ url_for("_photogallery_api_add_new_photos", true) }}">

        <div id="info-photos" class="form-info">{{ "Choose at least one photo. Title and description are optional." | trans() }}</div>

        <div>
            <label for="album-photos">{{ "album" | trans() }}</label>
            <select name="album" id="album-photos">
                <option value="0">{{ "Choose album" | trans() }}</option>
            </select>
        </div>

        <div>
            <label for="title-photos">{{ "title" | trans() }}</label> <input type="text" name="title"
                                                                             id="title-photos"/>
        </div>

        <div>
            <label for="description-photos">{{ "description" | trans() }}</label>
            <textarea name="description" id="description-photos"/></textarea>
        </div>

        <div>
            <span id="label-photos-photos" onclick="showFileDialog(this)" style="cursor:default;font-weight:bold;display:inline-block;margin-right:3px;">{{ "add photos" | trans() }}:</span>
            <label class="cabinet">
                <input size="1" multiple="multiple" type="file" name="photos[]" id="photos-photos"/>
            </label>
            <span style="display:inline-block;width:8px;"></span>
            <label style="display:inline-block;left-margin:24px" for="hidden-photos">{{ "do not publish" | trans() }}</label>
            <input type="checkbox" name="hidden" id="hidden-photos"/>
        </div>

    </form>
</div>


<style type="text/css">

    .ui-widget-content,
    .ui-dialog {
        /*background-color: #ffffe0 !important;*/
    }

    html.photogallery div.image-preview-dialog .ui-dialog-titlebar {
        padding: 0;
        display: none;
    }

    html.photogallery .ui-dialog.image-preview-dialog {
        padding: 0;
    }

    html.photogallery .ui-widget-overlay {
        background: black;
        opacity: 0.7;
    }

    html.photogallery .ui-widget-content {
        border: 0;
    }
</style>

<script type="text/javascript">


function showFileDialog(label) {
    var id = $(label).attr("id").replace(/^\w+\-/, "#");
    $(id).trigger("click");;
}

function addNewAlbum(title) {
    $("#create-new-album-form").dialog({
        title: getTitle(title, "image"),
        dialogClass: "photogallery-form",
        width: 640,
        height: 480,
        closeOnEscape: true,
        draggable: true,
        resizable: false,
        modal: true,
        resizable: false,
        buttons: {
            "{{ "Reset" | trans() }}": function (event) {
                $("form.create-new-album-form").get(0).reset();
            },
            "{{ "Create" | trans() }}": function (event) {
                var disabled = true;
                $('.ui-dialog-buttonpane').find('button:contains("{{ "Create" | trans() }}")').button({
                    disabled: disabled
                });
                $('.ui-dialog-buttonpane').find('button:contains("{{ "Reset" | trans() }}")').button({
                    disabled: disabled
                });
                $('.ui-dialog-buttonpane').find('button:contains("{{ "Cancel" | trans() }}")').button({
                    disabled: disabled
                });

//                $("#title-album").attr("disabled", true);
//                $("#description-album").attr("disabled", true);
//                $("#hidden-album").attr("disabled", true);
//                $("#photos-album").attr("disabled", true);

                $("div#info").html("{{ "Album creation in progress" | trans() }}&hellip;")

                $("form.create-new-album-form").ajaxSubmit({
                    error: function (response) {
                        alert("Album Unexpected Exception.");
                    },
                    success: function (response) {
                        location.href = Routing.generate("_album", {id: response.data.album, slug: "album"}, true);
                    }
                });
            },
            "{{ "Cancel" | trans() }}": function (event) {
                $(this).dialog("close");
            }
        },

        open: function () {
            $(".ui-widget-overlay").bind("click", function () {
                $("#create-new-album-form").dialog("close");
            });

            $('.ui-dialog-buttonpane').find('button:contains("{{ "Reset" | trans() }}")').button({
                icons: {
                    primary: 'ui-icon-circle-arrow-w'
                }
            });

            $('.ui-dialog-buttonpane').find('button:contains("{{ "Create" | trans() }}")').button({
                icons: {
                    primary: 'ui-icon-circle-check'
                },
                disabled: true
            });

            $('.ui-dialog-buttonpane').find('button:contains("{{ "Cancel" | trans() }}")').button({
                icons: {
                    primary: 'ui-icon-circle-close'
                }
            });

            $("form.create-new-album-form").get(0).reset();
        },

        close: function () {
            $("form.create-new-album-form").get(0).reset();
        }
    }).show();
}

function addPhotos(title) {
    $("#add-photos-form").dialog({
        title: getTitle(title, "image"),
        dialogClass: "photogallery-form",
        width: 640,
        height: 480,
        closeOnEscape: true,
        draggable: true,
        resizable: false,
        modal: true,
        resizable: false,
        buttons: {
            "{{ "Reset" | trans() }}": function (event) {
                $("form.create-new-album-form").get(0).reset();
            },
            "{{ "Add" | trans() }}": function (event) {
                var disabled = true;
                $('.ui-dialog-buttonpane').find('button:contains("{{ "Add" | trans() }}")').button({
                    disabled: disabled
                });
                $('.ui-dialog-buttonpane').find('button:contains("{{ "Reset" | trans() }}")').button({
                    disabled: disabled
                });
                $('.ui-dialog-buttonpane').find('button:contains("{{ "Cancel" | trans() }}")').button({
                    disabled: disabled
                });

//                $("#album-photos").attr("disabled", true);
//                $("#title-photos").attr("disabled", true);
//                $("#description-photos").attr("disabled", true);
//                $("#hidden-photos").attr("disabled", true);
//                $("#photos-photos").attr("disabled", true);

                $("div#info").html("{{ "Adding photo in progress" | trans() }}&hellip;")

                $("form.add-photos-form").ajaxSubmit({
                    error: function (response) {
                        var disabled = false;
                        $('.ui-dialog-buttonpane').find('button:contains("{{ "Add" | trans() }}")').button({
                            disabled: disabled
                        });
                        $('.ui-dialog-buttonpane').find('button:contains("{{ "Reset" | trans() }}")').button({
                            disabled: disabled
                        });
                        $('.ui-dialog-buttonpane').find('button:contains("{{ "Cancel" | trans() }}")').button({
                            disabled: disabled
                        });

                        $("div#info").html("");

                        alert("Photos Unexpected Exception.");
                    },
                    success: function (response) {
                        location.href = Routing.generate("_album", {id: response.data.album, slug: "album"}, true);
                    }
                });
            },
            "{{ "Cancel" | trans() }}": function (event) {
                $(this).dialog("close");
            }
        },

        open: function () {

            $(".ui-widget-overlay").bind("click", function () {
                $("#add-photos-form").dialog("close");
            });

            $('.ui-dialog-buttonpane').find('button:contains("{{ "Reset" | trans() }}")').button({
                icons: {
                    primary: 'ui-icon-circle-arrow-w'
                }
            });

            $('.ui-dialog-buttonpane').find('button:contains("{{ "Add" | trans() }}")').button({
                icons: {
                    primary: 'ui-icon-circle-check'
                },
                disabled: true
            });

            $('.ui-dialog-buttonpane').find('button:contains("{{ "Cancel" | trans() }}")').button({
                icons: {
                    primary: 'ui-icon-circle-close'
                }
            });

            $("form.create-new-album-form").get(0).reset();
        },

        close: function () {
            $("form.create-new-album-form").get(0).reset();
        }
    }).show();
}

function enableSubmit() {

    var albumsTitleVal = $("input#title-album").val() !== "";
    var albumsDescriptionVal = $("textarea#description-album").val() !== "";

    var photosAlbumVal = $("select#album-photos").val() > 0;
    var photosFilesVal = $("input#photos-photos").val() !== ""

    $('.ui-dialog-buttonpane').find('button:contains("{{ "Create" | trans() }}")').button({
        disabled: !(albumsTitleVal || albumsDescriptionVal)
    });

    $('.ui-dialog-buttonpane').find('button:contains("{{ "Add" | trans() }}")').button({
        disabled: !(photosFilesVal && photosAlbumVal)
    });
}

$(document).ready(function () {

    $.ajax({
        url: Routing.generate("_photogallery_api_album_list"),
        error: function (response) {
            alert("Unexpected Exception.");
        },
        success: function (response) {
            var albums = response;

            for (var i = 0; i < albums.length; i++) {
                var selected = typeof albumId != 'undefined' && albumId === albums[i].id ? ' selected="selected"' : "";
                $("select#album-photos").append("<option value='" + albums[i].id + "'" + selected + ">" + albums[i].title + "</option>");
            }
        }
    });

    $("[class=cabinet]").mouseover(function (event) {
        $(this).css({
            "background-image": "url(/bundles/siciarekphotogallery/images/btn-choose-file-on.png)"
        });
    });

    $("[class=cabinet]").mouseout(function (event) {
        $(this).css({
            "background-image": "url(/bundles/siciarekphotogallery/images/btn-choose-file-off.png)"
        });
    });

    $("[id^=label-photos]").mouseover(function (event) {
        var fields = $(this).siblings();
        $(fields[0]).css({
            "background-image": "url(/bundles/siciarekphotogallery/images/btn-choose-file-on.png)"
        });
    });

    $("[id^=label-photos]").mouseout(function (event) {
        var fields = $(this).siblings();
        $(fields[0]).css({
            "background-image": "url(/bundles/siciarekphotogallery/images/btn-choose-file-off.png)"
        });
    });

    $("div#add-photos-form form select#album-photos").change(function (event) {
        enableSubmit();
    });

    $("div#add-photos-form form  input#photos-photos").change(function (event) {
        enableSubmit();
    });

    $("div#create-new-album-form form  input#title-album").keyup(function (event) {
        enableSubmit();
    });

    $("div#create-new-album-form form  textarea#description-album").keyup(function (event) {
        enableSubmit();
    });
});

</script>