{% set forms = {
"images" : {
"action" :  url_for("_photogallery_api_add_new_photos", true),
"info"   : "Choose at least one image. Title and description are optional.",
},
"album" : {
"action" : url_for("_photogallery_api_create_new_album", true),
"info"   : "New album requires title or description. Adding at least one image is recommended.",
}
} %}


<div id="confirmation-dialog" style="display:none">
    <div id="confirmation-message" class="dialog-message"></div>
</div>

{% for key, data in forms %}

    <div id="{{ key }}-form" class="create-new-element">
        <form id="{{ key }}-base-form" class="{{ key }}-form" enctype="application/x-www-form-urlencoded" method="post"
              action="{{ data.action }}">

            {#<div id="info-{{ key }}" class="form-info">{{ data.info | trans() }}</div>#}

            <input type="hidden" name="id"/>
            <input type="hidden" name="imginfo"/>

            {#LEFT COLUMN#}

            <div class="form-colum left">

                {% if key == "images" %}
                    <div class="form-field" style="width: 430px;">
                        <label for="album-{{ key }}">{{ "album" | trans() }}</label>
                        <select name="album" id="album-{{ key }}"></select>
                    </div>
                {% endif %}

                <div class="form-field">
                    <label for="title-{{ key }}">{{ "title" | trans() }}</label>
                    <input style="width: 430px;" type="text" name="title"
                           id="title-{{ key }}"/>
                </div>

                <div class="form-field">
                    <label for="description-{{ key }}">{{ "description" | trans() }}</label>
                    <textarea name="description" id="description-{{ key }}"></textarea>
                </div>

                <div class="form-field">
                    <label style="display:inline-block"
                           for="publish-{{ key }}">{{ "publish" | trans() }}</label>
                    <input type="checkbox" checked="checked" name="publish" id="publish-{{ key }}"/>
                </div>

            </div>

            {#RIGHT COLUMN#}

            <div class="form-colum right" style="min-width:350px; min-height:350px;">

                <div class="form-field">
                    <span id="label-photos-{{ key }}" onclick="showFileDialog(this)">{{ "add" | trans() }}</span>

                    <label class="cabinet">
                        <input size="1" multiple="multiple"
                               type="file" name="photos[]" id="photos-{{ key }}"/>
                    </label>


                    <span id="number-of-chosen-files-{{ key }}" style="font-weight: bold;"></span>

                    <span style="display:inline-block;width:8px;"></span>

                    {% if key == "album" %}
                        <label style="display:inline-block"
                               for="hidden-{{ key }}">{{ "hidden" | trans() }}</label>
                        <input type="checkbox" name="hidden" id="hidden-{{ key }}"/>

                    {% endif %}

                </div>
                <div class="files-list">
                    <ul id="files-to-upload-{{ key }}" style="padding:8px;">
                    </ul>
                </div>


            </div>

            <div style="clear:both"></div>

        </form>
    </div>

{% endfor %}

