<!DOCTYPE html>
<html class="photogallery">
<head>
    <meta charset="UTF-8"/>
    <title>{{ config.title | trans() }}</title>

    <script type="text/javascript" src="{{ asset("bundles/fosjsrouting/js/router.js") }}"></script>
    <script type="text/javascript" src="{{ path("fos_js_routing_js", {"callback": "fos.Router.setData"}) }}"></script>

    {% stylesheets
    "@SiciarekPhotoGalleryBundle/Resources/public/css/reset.css"
    "@SiciarekPhotoGalleryBundle/Resources/public/css/lang.css"
    "@SiciarekPhotoGalleryBundle/Resources/public/js/jquery-context-menu/css/jquery.contextMenu.css"
    "@SiciarekPhotoGalleryBundle/Resources/public/css/photogallery.css" %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <link rel="stylesheet" type="text/css" media="screen"
          href="/bundles/siciarekphotogallery/js/jquery-ui-1.9.2.custom/css/smoothnessnr/jquery-ui-1.9.2.custom.min.css"/>

    {#<link rel="stylesheet" type="text/css" media="screen" href="{{ page_style }}"/>#}

    <script type="text/javascript">
        var authenticated = {% if app.user  %}true{% else %}false{% endif %};
    </script>

    {% include "SiciarekPhotoGalleryBundle::translations.html.twig" %}

    {% javascripts

    "@SiciarekPhotoGalleryBundle/Resources/public/js/jquery-1.8.3.min.js"
    "@SiciarekPhotoGalleryBundle/Resources/public/js/jquery.validate.js"
    "@SiciarekPhotoGalleryBundle/Resources/public/js/jquery.form.js"
    "@SiciarekPhotoGalleryBundle/Resources/public/js/jquery.cookie.js"


    "@SiciarekPhotoGalleryBundle/Resources/public/js/msgbox.js"
    "@SiciarekPhotoGalleryBundle/Resources/public/js/photogallery/common.js"
    "@SiciarekPhotoGalleryBundle/Resources/public/js/photogallery/validators.js"
    "@SiciarekPhotoGalleryBundle/Resources/public/js/photogallery/actions.js"
    "@SiciarekPhotoGalleryBundle/Resources/public/js/photogallery/forms.js"
    "@SiciarekPhotoGalleryBundle/Resources/public/js/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js"
    "@SiciarekPhotoGalleryBundle/Resources/public/js/jquery-context-menu/jquery.contextMenu.js"
    "@SiciarekPhotoGalleryBundle/Resources/public/js/jquery-ui-Mask/jquery.ui.Mask.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

</head>
<body>

<div id="menu">
    <div>
        <ul>

            {#LEFT SIDE MENUS#}

            {% for text, route in menu %}

                {% if text == "create new album" %}
                    {% if app.user %}
                        <li id="create-new-album-menu"><a title="{{ text | trans() }}"
                                                          href="javascript:void(null)"
                                                          onclick="openAlbumForm()">{{ text | trans() }}</a></li>
                    {% endif %}
                {% else %}
                    {% if text == "add images" %}
                        {% if app.user %}
                            <li id="add-images-menu"><a title="{{ text | trans() }}"
                                                        href="javascript:void(null)"
                                                        onclick="openImagesForm()">{{ text | trans() }}</a></li>
                        {% endif %}
                    {% else %}
                        {% if text == "refresh view" %}
                            <li><a title="{{ text | trans() }}"
                                   href="javascript:void(null)"
                                   onclick="$.ui.Mask.show('{{ "Wait a while" | trans() }}');location.reload()">{{ text | trans() }}</a>
                            </li>
                        {% else %}
                            <li>{{ link_to( text | trans(), route, true ) }}</li>
                        {% endif %}
                    {% endif %}
                {% endif %}

            {% endfor %}


            {#RIGHT SIDE MENUS#}

            {% for lang, tit in languages %}
                <li style="margin-top: 1px;" class="menu-right lang {{ lang }}" title="{{ tit }}"
                    onclick="location.href='{{ url_for("_photogallery_change_locale", { "locale": lang }) }}'">
                    &nbsp;</li>
            {% endfor %}

            <li id="reset-view" style="display:none" class="menu-right"><a href="javascript:void(null)"
                                                                             onclick="">{{ "undo changes" | trans() }}</a>
            </li>
            <li id="update-view" style="display:none" class="menu-right"><a href="javascript:void(null)"
                                                                            onclick="">{{ "update view" | trans() }}</a>
            </li>

            {% if app.user %}
                <li>{{ link_to('layout.logout'|trans({}, 'FOSUserBundle') | lower(), "fos_user_security_logout") }}</li>
                {#<li><a>{{ "user" | trans() ~ ": " ~ app.user.firstname ~ " " ~ app.user.lastname }}</a></li>#}
            {% else %}
                <li>{{ link_to('layout.login'|trans({}, 'FOSUserBundle') | lower(), "fos_user_security_login") }}</li>
            {% endif %}

        </ul>
    </div>
</div>

<div id="page">

    <div id="header">


    </div>
