{% extends 'SiciarekPhotoGalleryBundle::public.layout.html.twig' %}
{% block content %}

    {% include 'SiciarekPhotoGalleryBundle::forms.html.twig' %}

    <h1 id="subtitle">{{ "wait a while" | trans() }}&hellip;</h1>

    <div id="albums"></div>


    <script type="text/javascript">
        // <![CDATA[
        var pageTitle = "{{ title | trans() }} &#0151; {{ "Albums" | trans() }}";
        var defaultCover = "{{ config.default_cover }}";
        // ]]>
    </script>

    {% javascripts
    '@SiciarekPhotoGalleryBundle/Resources/public/js/photogallery/albums.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}