{% extends 'SiciarekPhotoGalleryBundle::public.layout.html.twig' %}
{% block content %}

    {% include 'SiciarekPhotoGalleryBundle::forms.html.twig' %}

    <h1 id="subtitle">{{ config.title | trans() }} &#0151; {{ "Albums" | trans() }}</h1>

    <div id="albums"></div>


    <script type="text/javascript">
        // <![CDATA[

        var defaultCover = "{{ config.default_cover }}";
        var title = "{{ config.title | trans() }}";

        $.ui.Mask.show(__("Wait a while"));

        // ]]>
    </script>

    {% javascripts
    '@SiciarekPhotoGalleryBundle/Resources/public/js/photogallery/albums.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}