{% extends "SiciarekPhotoGalleryBundle::public.layout.html.twig" %}
{% block content %}

    {% include 'SiciarekPhotoGalleryBundle::forms.html.twig' %}

    <img style="display:none" id="image-buffer"/>

    <h1 id="subtitle">{{ "wait a while" | trans() }}&hellip;</h1>
    <p class="info"></p>

    <div id="images"></div>

    <div id="image-preview" style="display:none">
        <div id="prev-image" title="{{ "Previous" | trans() }}"></div>
        <div id="next-image" title="{{ "Next" | trans() }}"></div>
    </div>

    <div id="confirmation-dialog">
        <div id="confirmation-message" class="dialog-message"></div>
    </div>

    <div id="status-bar" style="display:none">
        <div class="content"></div>
    </div>


    <script type="text/javascript">
        // <![CDATA[

        var albumId = {{ id }};
        var title = "{{ title | trans() }}";
        var currentImage = 0;
        var album = [];
        var contextMenuItems = {
//                                "edit": {name: "Edit", icon: "edit"},
//                                "cut": {name: "Cut", icon: "cut"},
//                                "copy": {name: "Copy", icon: "copy"},
//                                "paste": {name: "Paste", icon: "paste"},
            "change-cover": {name: __("Use as album cover"), icon: "change-cover"},
            "delete": {name: __("Delete"), icon: "delete"},
            "sep1": "---------",
            "quit": {name: __("Quit"), icon: "quit"}
        }

        // ]]>
    </script>

    {% javascripts
    '@SiciarekPhotoGalleryBundle/Resources/public/js/photos.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}