{% extends "SiciarekPhotoGalleryBundle::public.layout.html.twig" %}
{% block content %}

    {% include 'SiciarekPhotoGalleryBundle::forms.html.twig' %}

    <h1 id="subtitle">{{ config.title | trans() }}</h1>

    <p class="info"></p>

    <div id="images"></div>

    <div id="image-preview" class="context-menu-trigger" style="display:none">
        <div id="prev-image" title="{{ "Previous" | trans() }}"></div>
        <div id="next-image" title="{{ "Next" | trans() }}"></div>
    </div>

    <div id="status-bar" style="display:none">
        <div class="content"></div>
    </div>

    <img style="display:none" id="image-buffer"/>

    <script type="text/javascript">
        // <![CDATA[

        var albumId = {{ id }};
        var title = "{{ config.title }}";
        $.ui.Mask.show(__("Wait a while"));

        // ]]>
    </script>

    {% javascripts
    '@SiciarekPhotoGalleryBundle/Resources/public/js/photogallery/photos.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}